<div class="container col-9">
  <h1><%=@category.name.capitalize%></h1>
  <span><%=@category.name.capitalize%> Teams:</span>
  <%@teams.each do |team|%>
    <%= link_to team.name, category_team_path(@category.id, team.id) %>
  <%end%>
  <%=render_articles(@articles)%>
</div>
