<div class="container mx-auto border-black">
  <div class="h1 "> <%= @article.name %> </div>
  <div class="text-2xl font-bold"> <%= @article.content %> </div>
  <%= article_comments(@article.comments.roots) %>
  <%= render 'comments/form', model: Comment.new %>
</div>

<script>
  function button_event(button_class, form_class) {
    const clickButton = document.querySelectorAll(button_class);
    const form = document.querySelectorAll(form_class);
    clickButton.forEach((btn, i) => {
      btn.addEventListener('click', () => {
        if (form[i].classList.contains("d-none")) {
          close_all_inputs();
          form[i].classList.remove("d-none")
          form[i].classList.add("d-block")
        } else {
          close_all_inputs();
        }
      });
    });
  };
  function close_all_inputs(){
    const inputs = document.querySelectorAll(".comment-form");    
    inputs.forEach((input) => {
      input.classList.add("d-none");
    });
  }
  button_event(".reply-comment", ".reply-comment-form");
  button_event(".edit-comment", ".edit-comment-form");
</script>