<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>">
      <%= msg %>
    </div>
    <% end %>
<% end %>

<script>
  setTimeout(() => {
    document.querySelector(".alert-success").classList.add("d-none");
  }, 3000);
</script>
